DBOL/.vs/TanTam/v17/DocumentLayout.backup.json
/DBOL/MobileApi/bin
/DBOL/.vs
/DBOL/MobileApi/obj
/DBOL/MobileApi/obj
/Framework/CommonLib/Logger/obj
/Framework/CommonLib/Logger/obj
/Framework/CommonLib/MyUtility/obj
/Framework/CommonLib/ResxLanguagesUtility/obj
/Framework/CommonLib/WebUtility/obj
/Framework/Outside/BussinessObject/obj
/Framework/Outside/DataAccess/obj
/Framework/Outside/EntitiesObject/obj
/Framework/CommonLib/Logger/obj
/Framework/CommonLib/MyUtility/obj
/DBOL/MobileApi/obj
DBOL/MobileApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBOL/MyConfig/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBOL/MyConfig/obj/Debug/MyConfig.csproj.AssemblyReference.cache
Framework/CommonLib/Logger/obj/Debug/Logger.csproj.AssemblyReference.cache
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.csproj.AssemblyReference.cache
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.csproj.AssemblyReference.cache
Framework/CommonLib/WebUtility/obj/Debug/WebUtility.csproj.AssemblyReference.cache
Framework/Outside/BussinessObject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Framework/Outside/DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Framework/CommonLib/Logger/bin
/Framework/CommonLib/ResxLanguagesUtility/bin
/Framework/Outside/BussinessObject/bin
/Framework/Outside/DataAccess/bin
/Framework/Outside/EntitiesObject/bin
