DBOL/.vs/TanTam/v17/DocumentLayout.backup.json
/DBOL/MobileApi/bin
/DBOL/.vs
/DBOL/MobileApi/obj
/DBOL/MobileApi/obj
/Framework/CommonLib/Logger/obj
/Framework/CommonLib/Logger/obj
/Framework/CommonLib/MyUtility/obj
/Framework/CommonLib/ResxLanguagesUtility/obj
/Framework/CommonLib/WebUtility/obj
/Framework/Outside/BussinessObject/obj
/Framework/Outside/DataAccess/obj
/Framework/Outside/EntitiesObject/obj
/Framework/CommonLib/Logger/obj
/Framework/CommonLib/MyUtility/obj
/DBOL/MobileApi/obj
DBOL/MobileApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBOL/MyConfig/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBOL/MyConfig/obj/Debug/MyConfig.csproj.AssemblyReference.cache
Framework/CommonLib/Logger/obj/Debug/Logger.csproj.AssemblyReference.cache
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.csproj.AssemblyReference.cache
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.csproj.AssemblyReference.cache
Framework/CommonLib/WebUtility/obj/Debug/WebUtility.csproj.AssemblyReference.cache
Framework/Outside/BussinessObject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Framework/Outside/DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Framework/CommonLib/Logger/bin
/Framework/CommonLib/ResxLanguagesUtility/bin
/Framework/Outside/BussinessObject/bin
/Framework/Outside/DataAccess/bin
/Framework/Outside/EntitiesObject/bin
/Framework/Outside/BussinessObject/bin
/DBOL/MyConfig/bin
/Framework/CommonLib/MyUtility/bin
DBOL/MobileApi/.vs/TanTamApi.csproj.dtbcache.json
DBOL/MobileApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBOL/MobileApi/obj/Debug/TanTamApi.csproj.CoreCompileInputs.cache
DBOL/MobileApi/obj/Debug/TanTamApi.csproj.FileListAbsolute.txt
DBOL/MobileApi/TanTamApi.csproj.user
DBOL/MyConfig/bin/Debug/MyConfig.dll
DBOL/MyConfig/bin/Debug/MyConfig.pdb
DBOL/MyConfig/obj/Debug/MyConfig.csproj.AssemblyReference.cache
DBOL/MyConfig/obj/Debug/MyConfig.csproj.CoreCompileInputs.cache
DBOL/MyConfig/obj/Debug/MyConfig.csproj.FileListAbsolute.txt
DBOL/MyConfig/obj/Debug/MyConfig.dll
DBOL/MyConfig/obj/Debug/MyConfig.pdb
Framework/CommonLib/MyUtility/bin/Debug/MyUtility.dll
Framework/CommonLib/MyUtility/bin/Debug/MyUtility.pdb
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.csproj.AssemblyReference.cache
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.csproj.CoreCompileInputs.cache
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.csproj.FileListAbsolute.txt
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.dll
Framework/CommonLib/MyUtility/obj/Debug/MyUtility.pdb
Framework/CommonLib/ResxLanguagesUtility/bin/Debug/Microsoft.Web.Infrastructure.dll
Framework/CommonLib/ResxLanguagesUtility/bin/Debug/Microsoft.Web.Infrastructure.xml
Framework/CommonLib/ResxLanguagesUtility/bin/Debug/MyConfig.dll
Framework/CommonLib/ResxLanguagesUtility/bin/Debug/MyConfig.pdb
Framework/CommonLib/ResxLanguagesUtility/bin/Debug/ResxLanguagesUtility.dll
Framework/CommonLib/ResxLanguagesUtility/bin/Debug/ResxLanguagesUtility.pdb
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.csproj.AssemblyReference.cache
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.csproj.CoreCompileInputs.cache
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.csproj.FileListAbsolute.txt
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.dll
Framework/CommonLib/ResxLanguagesUtility/obj/Debug/ResxLanguagesUtility.pdb
Framework/Outside/BussinessObject/bin/Debug/BussinessObject.dll
Framework/Outside/BussinessObject/bin/Debug/BussinessObject.pdb
Framework/Outside/BussinessObject/bin/Debug/DataAccess.dll
Framework/Outside/BussinessObject/bin/Debug/DataAccess.pdb
Framework/Outside/BussinessObject/bin/Debug/EntitiesObject.dll
Framework/Outside/BussinessObject/bin/Debug/EntitiesObject.pdb
Framework/Outside/BussinessObject/bin/Debug/Microsoft.Web.Infrastructure.dll
Framework/Outside/BussinessObject/bin/Debug/Microsoft.Web.Infrastructure.xml
Framework/Outside/BussinessObject/bin/Debug/MyConfig.dll
Framework/Outside/BussinessObject/bin/Debug/MyConfig.pdb
Framework/Outside/BussinessObject/bin/Debug/MyUtility.dll
Framework/Outside/BussinessObject/bin/Debug/MyUtility.pdb
Framework/Outside/BussinessObject/bin/Debug/ResxLanguagesUtility.dll
Framework/Outside/BussinessObject/bin/Debug/ResxLanguagesUtility.pdb
Framework/Outside/BussinessObject/obj/Debug/BussinessObject.csproj.CoreCompileInputs.cache
Framework/Outside/BussinessObject/obj/Debug/BussinessObject.csproj.FileListAbsolute.txt
Framework/Outside/BussinessObject/obj/Debug/BussinessObject.dll
Framework/Outside/BussinessObject/obj/Debug/BussinessObject.pdb
Framework/Outside/DataAccess/bin/Debug/DataAccess.dll
Framework/Outside/DataAccess/bin/Debug/DataAccess.pdb
Framework/Outside/DataAccess/bin/Debug/EntitiesObject.dll
Framework/Outside/DataAccess/bin/Debug/EntitiesObject.pdb
Framework/Outside/DataAccess/obj/Debug/DataAccess.csproj.CoreCompileInputs.cache
Framework/Outside/DataAccess/obj/Debug/DataAccess.csproj.FileListAbsolute.txt
Framework/Outside/DataAccess/obj/Debug/DataAccess.dll
Framework/Outside/DataAccess/obj/Debug/DataAccess.pdb
Framework/Outside/EntitiesObject/bin/Debug/EntitiesObject.dll
Framework/Outside/EntitiesObject/bin/Debug/EntitiesObject.pdb
Framework/Outside/EntitiesObject/obj/Debug/EntitiesObject.csproj.CoreCompileInputs.cache
Framework/Outside/EntitiesObject/obj/Debug/EntitiesObject.dll
Framework/Outside/EntitiesObject/obj/Debug/EntitiesObject.pdb
