<?xml version="1.0" encoding="utf-8" ?>
<MyConfig>
    <Default PageSize="10" DefaultLanguage="en" IsBeta="false"
             StaticHost="http://192.168.1.163:8011/DataLocalApp"
             FullDomain="https://live777.com/" ShortDomain="live777.com"
             HostName="https://live777.com" ImageHost="http://mimg.live777.com/"
             DefaultAvatar="images/avatar/defaultavatar2.png" AvatarPath="i" NumerDefaultAvatar="47"
             DefaultUtmMobileOrganic="MobileOrganic"
             ChannelId="54"
             ContentVersion="16"
             AppId="54"
    />
    
</MyConfig>
