<?xml version="1.0" encoding="utf-8" ?>
<MyConfig>
    <Event02 StarDate="2015-03-18 00:00:00" IsTestExchangeCard="true" EndDate="2016-12-02 23:59:59" Enable="true"
             NoticeCard="Bạn được tặng {0} code tham gia chương trình Thợ săn thành phố tháng 12. "
             ReasonNotice="Lý do: Nạp {1} VND vào lúc {2}." linkKetQuaSoXo="/tho-san-thanh-pho?"/>

    <EventChangePassFB Reason="192" GoldBonus="1000000.00" StartDateChangePassFB="09/05/2014 00:00:00"
                       EndDateChangePassFB="09/12/2020 23:59:59"/>
    <Default PageSize="50" DefaultLanguage="en"
             FullDomain="http://p111.us" ShortDomain="p111.us"/>
    <ClientList>
        <add ClientId="ClientId1" ClientKey="ClientKey1"></add>
        <add ClientId="ClientId2" ClientKey="ClientKey2"></add>
    </ClientList>

    <DomainList>
        <add Name="p111.us"/>
        <add Name="localhost"/>
    </DomainList>

    <Seo>

        <!--huog dan chơi game-->
        <!--
        <add Title="Hướng dẫn chơi game tiến lên miền nam - DanhBaiOnline.com" Link="/tien-len-mien-nam/huong-dan-choi-game"></add>
        <add Title="Hướng dẫn chơi game xì tố - DanhBaiOnline.com" Link="/xi-to/huong-dan-choi-game"></add>
        <add Title="Hướng dẫn chơi game Poker - DanhBaiOnline.com" Link="/poker/huong-dan-choi-game"></add>
        <add Title="Hướng dẫn chơi game binh tính chi - DanhBaiOnline.com" Link="/binh-tinh-chi/huong-dan-choi-game"></add>
        <add Title="Hướng dẫn chơi game ù 9 lá - DanhBaiOnline.com" Link="/u-9-la/huong-dan-choi-game"></add>
        <add Title="Hướng dẫn chơi game tài xỉu - DanhBaiOnline.com" Link="/tai-xiu/huong-dan-choi-game"></add>
    
        <add Title="Bang hội - Cộng đồng game thủ DanhBaiOnline.com" Link="/bang-hoi"></add>
        
        <add Title="Chính Sách - DanhBaiOnline.com" Link="/chinh-sach"></add>
        
        <add Title="FAQ - DanhBaiOnline.com" Link="/faq/huong-dan-choi-game"></add>
    -->
        <!--chơi game-->
        <add Title="Game Tiến Lên Miền Nam online - Danhbaionline.com" Link="/tien-len-mien-nam"
             Description="Game tiến lên miền nam hấp dẫn - Chơi game bài tiến lên miền nam đếm lá miễn phí"
             Keyword="game tien len mien nam, choi tien len mien nam dem la, bai tien len mien nam, tai tien len mien nam dem la"></add>
        <add Title="Game xì tố - DanhBaiOnline.com" Link="/xi-to"
             Description="Đánh bài xì tố online miễn phí - Chơi bài xì tố trên facebook - Game xì tố online"
             Keyword="xi to, game bai xi to, danh bai xi to online, bai xi to facebook, huong dan xi to"></add>
        <add Title="Game poker online, chơi game poker online - Danhbaionline.com" Link="/poker"
             Description="Chơi game poker hoàn toàn miễn phí, chế độ chơi game poker rất hấp dẫn"
             Keyword="poker online, game poker, game poker online, huong dan choi poker"></add>
        <add Title="Game mậu binh xập xám online, chơi binh tính chi - Danhbaionline.com" Link="/binh-tinh-chi"
             Description="Cách chơi mậu binh xập xám đơn giản - Hướng dẫn chơi game mậu binh xập xám"
             Keyword="binh xap xam online, game binh xap xam, cach choi binh xap xam, mau binh xap xam"></add>
        <add Title="Game bài phỏm tá lả online, game ù 9 lá - Danhbaionline.com" Link="/u-9-la"
             Description="Game đánh bài phỏm tá lả hay nhất - Hướng dẫn chơi bài phỏm u 9 la"
             Keyword="danh bai phom, game bai phom, bai phom ta la, choi bai phom, u 9 la, huong dan bai phom"></add>
        <add Title="Tài xỉu online, tải game tài xiu - Danhbaionline.com" Link="/tai-xiu"
             Description="Cộng đồng game tài xỉu lớn mạnh - Game tài xỉu online tại Danhbaionline.com"
             Keyword="tai xiu, game tai xiu online, choi tai xiu, danh tai xiu, huong dan tai xiu"></add>

        <!--ca nhan-->
        <!--
        <add Title="Trang cá nhân - {0}" Link="/ca-nhan/thong-tin"></add>
        <add Title="Hộp thư của {0}" Link="/ca-nhan/hop-thu"></add>
        <add Title="Bạn bè của {0}" Link="/ca-nhan/ban-be"></add>
        <add Title="Ví ngân hàng của {0}" Link="/vi-ngan-hang"></add>
        <add Title="Chuyển gold - DanhBaiOnline.com" Link="/ca-nhan/chuyen-gold"></add>
        <add Title="Lịch sử giao dịch qua Ngân Lượng - DanhBaiOnline.com" Link="/ca-nhan/lich-su-ngan-luong"></add>
        <add Title="Kích hoạt chức năng bảo vệ tài khoản - DanhBaiOnline.com" Link="/bao-mat-tai-khoan"></add>
        <add Title="Cập nhật thông tin cá nhân - {0}" Link="/ca-nhan/chinh-sua-thong-tin"></add>
        <add Title="Tin tức sự kiện - DanhBaiOnline.com" Link="/tin-tuc-su-kien"></add>
        <add Title="Mời thêm bạn - {0}" Link="/ca-nhan/moi-them-ban"></add>
    -->

        <!--Diễn đàn-->
        <!--<add Title="Diễn đàn DanhBaiOnline.com" Link="/dien-dan"></add>-->
        <!--<add Title="Diễn đàn DanhBaiOnline.com" Link="/dien-dan"></add>-->
        <!--Diễn đàn-->

        <!--Bang Hội-->
        <!--<add Title="Bang hội - Cộng đồng game thủ DanhBaiOnline.com" Link="/bang-hoi"></add>-->
        <!--Bang Hội-->

        <!--<add Title="Nạp gold - DanhBaiOnline.com" Link="/nap-gold"></add>-->

        <!--Trang chủ đặt ở cuối;  mặt định ko tìm thấy thì sẽ show cái này-->
        <add Title="Đánh bài online, game chơi bài online miễn phí - Danhbaionline.com" Link="/"
             Description="Webgame đánh bài online - Hội những người  yêu thích chơi game bài online"
             Keyword="game bai online, danh bai online, choi bai online, game bai mien phi"></add>
        <!--<add Title="Chơi game bài online, đánh bài online - DanhBaiOnline.com" Link="/"></add>-->

    </Seo>

    <!-- Quảng cáo Start -->
    <Advertising ImageLink="/images/UTour/Tournament_U_112014_1000x90.jpg" Height="90"
                 NavigatorLink="/than-u/gioi-thieu"/>
    <!-- Quảng cáo End -->


    <!-- List game hiển thị trên trang chủ -->
    <GameInfo>
        <add GameId="40" Name="Tiến lên miền nam" Alias="tien-len-mien-nam"
             ImageUrl="~/Content/Images/HomeGame/tien-len-mien-nam.png"
             OrderNo="1" IsEnable="true" TopMenuOrderNo="2" TopMenuIsEnable="true" TutorialOrderNo="3"
             TutorialIsEnable="true"/>
        <add GameId="41" Name="Ù 9 lá" FullName="Ù 9 lá, Phỏm, Tá lả" Alias="u-9-la"
             ImageUrl="~/Content/Images/HomeGame/u-9-la.png"
             OrderNo="2" IsEnable="true" TopMenuOrderNo="3" TopMenuIsEnable="true" TutorialOrderNo="2"
             TutorialIsEnable="true"/>
        <add GameId="45" Name="Tài Xỉu" Alias="tai-xiu"
             ImageUrl="~/Content/Images/HomeGame/tai-xiu.png"
             OrderNo="3" IsEnable="true" TopMenuOrderNo="8" TopMenuIsEnable="true" TutorialOrderNo="9"
             TutorialIsEnable="true"/>
        <add GameId="201" Name="Sâm lốc" Alias="sam-loc"
             ImageUrl="~/Content/Images/HomeGame/sam-loc.png"
             OrderNo="4" IsEnable="true" TopMenuOrderNo="10" TopMenuIsEnable="true" TopMenuLevel="1"
             TutorialOrderNo="13" TutorialIsEnable="true"/>
        <add GameId="42" Name="Xì tố" FullName="Xì tố, Poker Hong Kong" Alias="xi-to"
             ImageUrl="~/Content/Images/HomeGame/xi-to.png"
             OrderNo="5" IsEnable="true" TopMenuOrderNo="1" TopMenuIsEnable="true" TutorialOrderNo="1"
             TutorialIsEnable="true"/>
        <!--<add GameId="29" Name="Xì tố" FullName="Xì tố, Poker Hong Kong" Alias="xi-to"
             ImageUrl="~/Content/Images/HomeGame/xi-to.png"
             OrderNo="5" IsEnable="false" TopMenuOrderNo="1" TopMenuIsEnable="false" TutorialOrderNo="1" TutorialIsEnable="true"/>-->
        <add GameId="209" Name="Xóc dĩa" Alias="xoc-dia"
             ImageUrl="~/Content/Images/HomeGame/xoc-dia.png" IsNew="false"
             OrderNo="6" IsEnable="true" TopMenuOrderNo="14" TopMenuIsEnable="true" TopMenuLevel="2"
             TutorialOrderNo="19" TutorialIsEnable="true" IsRequireLogin="true"/>
        <add GameId="34" Name="Mậu binh" FullName="Binh tính chi" Alias="binh-tinh-chi"
             ImageUrl="~/Content/Images/HomeGame/binh-tinh-chi.png"
             OrderNo="7" IsEnable="true" TopMenuOrderNo="4" TopMenuIsEnable="true" TutorialOrderNo="6"
             TutorialIsEnable="true"/>
        <add GameId="250" Name="Đánh chắn" Alias="danh-chan"
             ImageUrl="~/Content/Images/HomeGame/danh-chan.png"
             OrderNo="8" IsEnable="true" TopMenuOrderNo="5" TopMenuIsEnable="true" TutorialOrderNo="5"
             TutorialIsEnable="true"/>
        <add GameId="206" Name="Cờ tướng" Alias="co-tuong"
             ImageUrl="~/Content/Images/HomeGame/co-tuong.png"
             OrderNo="9" IsEnable="true" TopMenuOrderNo="11" TopMenuIsEnable="true" TopMenuLevel="1"
             TutorialOrderNo="12" TutorialIsEnable="true"/>
        <add GameId="200" Name="Liêng" Alias="lieng" ImageUrl="~/Content/Images/HomeGame/lieng.png"
             OrderNo="10" IsEnable="true" TopMenuOrderNo="9" TopMenuIsEnable="true" TopMenuLevel="1"
             TutorialOrderNo="10" TutorialIsEnable="true"/>
        <add GameId="207" Name="Cờ úp" Alias="co-up" ImageUrl="~/Content/Images/HomeGame/co-up.png"
             OrderNo="12" IsEnable="true" TopMenuOrderNo="12" TopMenuIsEnable="true" TopMenuLevel="1"
             TutorialOrderNo="17" TutorialIsEnable="true" IsRequireLogin="true"/>
        <add GameId="43" Name="Texas Hold'em Poker" Alias="texas-hold-em-poker" ViewName="poker"
             ImageUrl="~/Content/Images/HomeGame/texas-hold-em-poker.png"
             OrderNo="13" IsEnable="true" TopMenuOrderNo="12" TopMenuIsEnable="false" TopMenuLevel="2"
             TutorialOrderNo="13" TutorialIsEnable="true"/>
        <add GameId="18" Name="Xì dzách" Alias="xi-dzach" ImageUrl="~/Content/Images/HomeGame/xi-dzach.png"
             OrderNo="14" IsEnable="true" TopMenuOrderNo="6" TopMenuIsEnable="false" TutorialOrderNo="7"
             TutorialIsEnable="true"/>
        <add GameId="202" Name="Cờ cá ngựa" Alias="ca-ngua" ImageUrl="~/Content/Images/HomeGame/ca-ngua.png"
             OrderNo="13" IsEnable="true" TopMenuOrderNo="13" TopMenuIsEnable="true" TopMenuLevel="2"
             TutorialOrderNo="15" TutorialIsEnable="true" IsRequireLogin="true"/>
        <add GameId="21" Name="Black jack" Alias="black-jack" ImageUrl="~/Content/Images/HomeGame/black-jack.png"
             OrderNo="14" IsEnable="true" TopMenuOrderNo="7" TopMenuIsEnable="false" TutorialOrderNo="8"
             TutorialIsEnable="true"/>
        <add GameId="12" Name="Tiến lên miền Bắc" Alias="tien-len-mien-bac"
             ImageUrl="~/Content/Images/HomeGame/tien-len-mien-bac.png"
             OrderNo="15" IsEnable="true" TopMenuOrderNo="8" TopMenuIsEnable="false" TutorialOrderNo="4"
             TutorialIsEnable="true"/>
        <add GameId="208" Name="Lô đề online" FullName="Lô đề online" Alias="lo-de-online"
             ImageUrl="~/Content/Images/HomeGame/lo-de-online.png"
             OrderNo="16" IsEnable="true" TopMenuOrderNo="15" TopMenuIsEnable="true" TopMenuLevel="2"
             IsRequireLogin="true"/>
        <add GameId="210" Name="Oẳn tù tì" Alias="oan-tu-ti"
             ImageUrl="~/Content/Images/HomeGame/oan-tu-ti.png" IsHighlight="false"
             OrderNo="17" IsEnable="true" TopMenuOrderNo="16" TopMenuIsEnable="true" TopMenuLevel="2"
             IsRequireLogin="true"/>
        <add GameId="212" Name="Quay Số" Alias="quay-so"
             ImageUrl="~/Content/Images/HomeGame/quay-so.png" IsHighlight="true" IsNew="true" GameType="2"
             OrderNo="17" IsEnable="true" TopMenuOrderNo="18" TopMenuIsEnable="true" TopMenuLevel="2"
             IsRequireLogin="true"/>
        <add GameId="00" Name="Lucky" Alias="lucky" TopMenuOrderNo="6" TopMenuIsEnable="true" Url="/lucky"
             IsRequireLogin="true"/>
        <add GameId="0" Name="Giải thuật MD5" Alias="md5" TutorialOrderNo="16" TutorialIsEnable="true"/>
        <add GameId="211" Name="Bắn cá beta" Alias="ban-ca" TopMenuOrderNo="17" TopMenuIsEnable="true"
             Url="/ban-ca" TopMenuLevel="2" IsHighlight="false" IsRequireLogin="true"/>
        <add GameId="000" Name="Bóng đá" Alias="lucky" TopMenuOrderNo="7" TopMenuIsEnable="true"
             Url="http://bongda.p111.us/"/>
        <Link WebViewJackBot="Google.com" WebViewLuckySpin="facebook.com"/>


    </GameInfo>
    <!-- List game hiển thị trên trang chủ End -->

    <!-- Authentication Start -->
    <GoogleOpenAuth Url="https://accounts.google.com/o/oauth2/auth"
                    Scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
                    ReturnUrl="http://localhost:2965/dang-nhap/xac-nhan/google"
                    ClientId="729883332587-5k8pjito5rcc8tp6osrdpq4u3a6car35.apps.googleusercontent.com"/>
    <FacebookOpenAuth AppId="413801702109867"
                      ReturnUrl="/dang-nhap/xac-nhan/facebook"
                      AppSecret="e5c81fe324bd52394cb601acdede0dc8"/>
    <YahooOpenAuth ReturnUrl="/dang-nhap/xac-nhan/yahoo"/>
    <!-- Authentication End -->

    <!--Cấu hình email đăng ký SubString=độ dài ccủa nickname-->
    <EmailRegisterConfig First="web" Last="@choibaip111.us" SubString="30"/>

    <!-- Blacklist Start -->
    <NicknameBlacklist>
        <add Name="p111"/>
        <add Name="admin"/>
    </NicknameBlacklist>
    <PasswordBlacklist>
        <add Name="p111"/>
        <add Name="admin"/>
    </PasswordBlacklist>
    <!-- Blacklist End -->

    <!-- Gold Start -->
    <GoldMembers>
        <add UserId="5712445"/>
    </GoldMembers>
    <TuThienMembers>
        <add UserId="4943860"/>
    </TuThienMembers>
    <!-- Gold Start -->

    <!-- nap gold -->


    <Deposit IsTestDeposit="true"></Deposit>
    <!-- end nap gold -->

    <!--Doi the cao-->
    <Card>
        <add Enable="true" Id="10" Name="viettel_10" CardType="VIETTEL" Amount="10000" StarExchange="12500"
             ImageUrl="http://mapi.3cay.net/images/changecard/viettel_10.png"/>
        <add Enable="true" Id="11" Name="viettel_20" CardType="VIETTEL" Amount="20000" StarExchange="25000"
             ImageUrl="http://mapi.3cay.net/images/changecard/viettel_20.png"/>
        <add Enable="true" Id="12" Name="viettel_50" CardType="VIETTEL" Amount="50000" StarExchange="62500"
             ImageUrl="http://mapi.3cay.net/images/changecard/viettel_50.png"/>
        <add Enable="true" Id="13" Name="viettel_100" CardType="VIETTEL" Amount="100000" StarExchange="125000"
             ImageUrl="http://mapi.3cay.net/images/changecard/viettel_100.png"/>
        <add Enable="true" Id="14" Name="viettel_200" CardType="VIETTEL" Amount="200000" StarExchange="250000"
             ImageUrl="http://mapi.3cay.net/images/changecard/viettel_200.png"/>
        <add Enable="true" Id="15" Name="viettel_500" CardType="VIETTEL" Amount="500000" StarExchange="625000"
             ImageUrl="http://mapi.3cay.net/images/changecard/viettel_500.png"/>

        <add Enable="true" Id="20" Name="mobi_10" CardType="MOBI" Amount="10000" StarExchange="12500"
             ImageUrl="http://mapi.3cay.net/images/changecard/mobi_10.png"/>
        <add Enable="true" Id="21" Name="mobi_20" CardType="MOBI" Amount="20000" StarExchange="25000"
             ImageUrl="http://mapi.3cay.net/images/changecard/mobi_20.png"/>
        <add Enable="true" Id="22" Name="mobi_50" CardType="MOBI" Amount="50000" StarExchange="62500"
             ImageUrl="http://mapi.3cay.net/images/changecard/mobi_50.png"/>
        <add Enable="true" Id="23" Name="mobi_100" CardType="MOBI" Amount="100000" StarExchange="125000"
             ImageUrl="http://mapi.3cay.net/images/changecard/mobi_100.png"/>
        <add Enable="true" Id="24" Name="mobi_200" CardType="MOBI" Amount="200000" StarExchange="250000"
             ImageUrl="http://mapi.3cay.net/images/changecard/mobi_200.png"/>
        <add Enable="true" Id="25" Name="mobi_500" CardType="MOBI" Amount="500000" StarExchange="625000"
             ImageUrl="http://mapi.3cay.net/images/changecard/mobi_500.png"/>

        <add Enable="true" Id="30" Name="vina_10" CardType="VINA" Amount="10000" StarExchange="12500"
             ImageUrl="http://mapi.3cay.net/images/changecard/vina_10.png"/>
        <add Enable="true" Id="31" Name="vina_20" CardType="VINA" Amount="20000" StarExchange="25000"
             ImageUrl="http://mapi.3cay.net/images/changecard/vina_20.png"/>
        <add Enable="true" Id="32" Name="vina_50" CardType="VINA" Amount="50000" StarExchange="62500"
             ImageUrl="http://mapi.3cay.net/images/changecard/vina_50.png"/>
        <add Enable="true" Id="33" Name="vina_100" CardType="VINA" Amount="100000" StarExchange="125000"
             ImageUrl="http://mapi.3cay.net/images/changecard/vina_100.png"/>
        <add Enable="true" Id="34" Name="vina_200" CardType="VINA" Amount="200000" StarExchange="250000"
             ImageUrl="http://mapi.3cay.net/images/changecard/vina_200.png"/>
        <add Enable="true" Id="35" Name="vina_500" CardType="VINA" Amount="500000" StarExchange="625000"
             ImageUrl="http://mapi.3cay.net/images/changecard/vina_500.png"/>

    </Card>
    <!--End Doi the cao-->
    <!--Doi vat pham-->
    <Product>
        <add Enable="true" Id="1" Name="Iphone 6 Plus 16GB" ProductType="1" Price="24000000" GoldExchange="24487500"
             ImageUrl="http://mapi.3cay.net/images/changeproduct/iphone_6_plus.png"/>
        <add Enable="true" Id="2" Name="Iphone 6 16GB" ProductType="1" Price="16000000" GoldExchange="21248750"
             ImageUrl="http://mapi.3cay.net/images/changeproduct/iphone_6_gb.png"/>
    </Product>
    <!--End Doi vat pham-->

    <EventTichSaoCard IsTest="true"/>
    <!--<EventTichSaoCard IsTest="true" MaxNumCardOnDay="30" MaxStarExchangeOnDay="180000000" MaxAmountCardOnDay="3000000" />-->
    <EventPromotion EnableEventChonLoc="true" EnableEventTiepSuc="true" EnableEventNgayVang="true"
                    EnableEventTichLuy="true" EnableEvent100="true"/>
    <ListXsKieuMy>
        <add StarDate="2015-03-30 00:00:00" EndDate="2015-04-05 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-04-06 00:00:00" EndDate="2015-04-12 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-04-13 00:00:00" EndDate="2015-04-19 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-04-20 00:00:00" EndDate="2015-04-26 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-04-27 00:00:00" EndDate="2015-05-03 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-05-04 00:00:00" EndDate="2015-05-10 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-05-11 00:00:00" EndDate="2015-05-17 23:59:59" Enable="true" ConvertRate="2"/>
        <add StarDate="2015-05-18 00:00:00" EndDate="2015-05-24 23:59:59" Enable="true" ConvertRate="2"/>
    </ListXsKieuMy>
    <!--kiểm tra link: nếu không tồn tại thì quay về trang chủ-->
    <Vnkash IsTest="True" ExchangeRate="1.25" MinWithdraw="1000"></Vnkash>
    <ChannelList>
        <add UtmSource="i88" ChannelId="5" SubChannelId="0"></add>
    </ChannelList>
</MyConfig>
